@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* REGRA DE IMPRESSÃO TÉRMICA */
@media print {
  /* Esconde tudo que não for a área de impressão */
  body * {
    visibility: hidden;
  }
  #area-impressao, #area-impressao * {
    visibility: visible;
  }
  #area-impressao {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

/* Esconde a ficha na tela normal para não atrapalhar o visual */
#area-impressao {
  display: block;
}